.container > div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color:palevioletred;
  }
  
  html, body {
    background-color:rosybrown;
    margin: 10px;
  }
  
  .container > div:nth-child(1n) {
    background-color: plum;	
  }
  
  .container > div:nth-child(3n) {
    background-color: purple;
  }
  
  .container > div:nth-child(2n) {
    background-color:rebeccapurple;
  }
  
  .container > div:nth-child(4n) {
    background-color: plum;
  }
  
  